body{
    padding: 0;
    margin: 0;
}
/* common */
.none{
    text-decoration: none;
    color: #000;
}
/* common */


/* the start of the navbar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0 0 0;
    height: 60px;
    background-color: cornsilk;
}
.navbar div h3{
    margin: 0 700px 0 0;
    visibility: hidden;
}
.navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 0 0 30px;
    font-size: larger;
    visibility: hidden;
}
.navbar a:hover {
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
/* the end of the navbar */


/* the start of the second section */
#headlines{
    background-image: url(../img/image2.jpg);
    background-size: cover;
    height: 80vh;
}
#headlines h1,h2 {
    padding: 10px;
    margin: 0;
    text-align: center;
    visibility: hidden;
}
#intro{
    margin: 30px 0 0 0;
    padding: 0 0 30px 0;
    display: flex;
    border-bottom: 1px solid #333;
}
.img-one{
    width: 20vw;
    margin: 0 0 0 250px;
    visibility: hidden;
}
.text-div{
    margin: 0 0 0 200px;
}
.text-div h1{
    padding: 10px 30px;
    background-color: cornsilk;
    visibility: hidden;
    width: fit-content;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 900;
    font-size: x-large;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.text-div p{
    color: #999;
    font-size: larger;
    line-height: 1.5;
    letter-spacing: 0.3px;
    visibility: hidden;
}
/* the end of the second section */


/* the start of the slider */
.slider-container{
    margin: 50px 0 0 150px;
    position: relative;
}
.slider-container .img{
    display: none;
    width: 30vw;
    margin: 0 0 0 350px;
}
.slider-container .active{
    display: block;
}
.slider-controls{
    position: absolute;
    top: 1150px;
    display: flex;
    justify-content: space-around;
}
.slider-controls .next{
    cursor: pointer;
    background-color: cornsilk;
    border-radius: 25px;
    padding: 10px;
    margin: 300px 0 0 500px;
    z-index: 999;
}
.slider-controls .prev{
    cursor: pointer;
    background-color: cornsilk;
    border-radius: 25px;
    padding: 10px;
    float: left;
    margin: 300px 0 0 400px;
    z-index: 999;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
/* the end of the slider */

/* the start of the footer */
.footer-one{
    height: 40vh;
    background-color: cornsilk;
    color: #000;
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
}
.lol{
    display: inline;
}
/* the end of the footer */

























footer {
    bottom: 0;
    background-color: black;
    color: rgb(250, 240, 215);
    width: 100%;
}
.contact {
    margin: auto;
    width: 20%;
}
.contactUs a {
    text-decoration: none;
}